<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 d-flex align-items-center justify-content-center order-last order-md-first mt-4 mb-2 flex-column">
          <div class="text-center">
            <h5><strong>{{"text2"|translate}}
            </strong></h5>
          </div>
            <button routerLink="/dishes" class="btn btn-dark">{{"dishes"| translate}} <i class="fas fa-star"></i></button>
        </div>
        <div class="col-md-9">
          <img src="./../assets/img/Agut_milfulls.jpeg" alt="" >                  
        </div>
    </div>
  </div>

  