.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  text-align: center;
  color: #685036;
}

p {
  text-align: center;
  margin: 0.5rem;
  color: #685036;
}

.g {
  background-image: url('src/assets/img/Agut_logo_cobre.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.glass {
background: rgba(227, 221, 219, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.8px);
-webkit-backdrop-filter: blur(14.8px);
border: 1px solid rgba(227, 221, 219, 0.58);
}