/* Estilos para la barra de navegación */
nav.navbar {
  background-color: #FAF7E7;
  /* color de fondo */
  color: #FFFFFF;
  margin-left: 10px;

}

.nobg {

  background-color: #452113 !important;
}

/* Estilos para los botones de navegación */
nav.navbar a.nav-link {
  color: #8B6A47;
  /* color de texto */
}

nav.navbar a.nav-link.active {
  color: #8B6A47;
  border-bottom: 1px solid #8B6A47
    /* color de texto */
}

nav.navbar a.nav-link:hover {
  color: #daac56;
  /* color de texto al pasar el mouse por encima */
}

/* Estilos para los botones de redes sociales */
nav.navbar ul.navbar-nav li.nav-item a.nav-link i {
  font-size: 24px;
  /* tamaño del icono */
  color: #8B6A47;
  /* color del icono */
  margin-left: 10px;
  /* espacio entre iconos */
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover i {
  color: #daac56;
  /* color del icono al pasar el mouse por encima */
}

/* Estilos para el menú desplegable */
nav.navbar .navbar-toggler {
color: #8B6A47;  /* color del borde del botón */
}

nav.navbar .navbar-toggler-icon {
  background-color: #FFFFFF;
  /* color del icono del botón */
}

nav.navbar .navbar-collapse {
  background-color: #FAF7E7;
  /* color de fondo del menú desplegable */
}

nav.navbar .navbar-nav {
  margin: auto;
  /* centrar los botones */
}

nav.navbar a.nav-link {
  font-size: 25px;
  /* tamaño de fuente */
  padding: 10px 20px;
  /* espacio interior */
}

/* Estilos para la ubicación y teléfono */
div.d-flex.ms-auto.justify-content-end {
  background-color: #f9dfb2;
  /* color de fondo */
  color: #8B6A47;
  /* color de texto */
  display: flex;
  /* flexbox para centrar verticalmente */
  align-items: center;
  /* centrar verticalmente */
  justify-content: center;
  /* centrar horizontalmente */
  padding: 10px;
  /* espacio interior */
}

div.d-flex.ms-auto.justify-content-end a {
  color: #FFFFFF;
  /* color de texto */
  margin-left: 10px;
  /* espacio entre los dos elementos */
}