<div style="background-image: url('./../assets/img/Agut_abuelo.jpeg'); background-size: cover; background-position: center center; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="background-color: rgba(250, 247, 231, 0.8); padding: 20px; border-radius: 10px; max-width: 50%; text-align: justify; opacity: 0,8;">
      <p>{{"info"|translate}}</p>
      <p>{{"info-1"|translate}}</p>
      <p>{{"info-2"|translate}}</p>
      <p>{{"info-3"|translate}}</p>
    </div>
  </div>
  