.container { 

  display: flex;
  justify-content: center;
  align-items: center;
}
.rest{
  background-image: url('../../../assets/img/Agut_abuelo.jpeg');
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-attachment: fixed;

}
.card {
  background-color: rgba(250, 247, 231, 0.6);
  border-radius: 10px;
  max-width: 80%;
  min-height: 50%;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 60px;
  margin-bottom: 60px;

}

.card-body {
  padding: 10px;
  text-align: justify;
}

.card-body p {
  color: #775b3d;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    max-width: 90%;
    min-height: 70%;
  }

  .card-body {
    font-size: 0.9rem;
    padding: 5px;
  }
}








