<!--
<ng-container *ngFor="let dish of dishes">
    <p>{{dish.name}}<br>{{dish.description}}<br>{{dish.image}}</p>
</ng-container>-->
<div style="display: flex; justify-content: center;">
    <div style="max-width: 80%;">
  
      <ng-container *ngFor="let dish of dishes">
        <div style="margin-bottom: 20px;">
          <img [src]="dish.image" style="max-width: 100%; height: auto;">
          <p style="text-align: center; margin-top: 10px;">{{dish.name}}</p>
          <p style="text-align: center;">{{dish.description}}</p>
        </div>
      </ng-container>
  
    </div>
  </div>
  