<div class="row align-content-center ">
    <div class="col-11 mx-auto py-4" style="max-width: 450px;">
        <div class="card  text-white bg-dark h-100">
            <div class="card-header text-center text-warning row">
                <div class="col-9 col-sm-10">
                    <h3>Enter your email adress</h3>
                </div>
                <div class="col-3 col-sm-2">
                    <a  class=' btn border-white text-end text-white m-1 '
                        [routerLink]="['']">
                    X
                    </a>
                </div>               
            
            </div>
            
            <div class="card-body">
                <form [formGroup] ="loginForm" (ngSubmit)="login()" class="g-3">
                
                    <div class="form-group my-3">
                        <input  
                                type="email" 
                                formControlName="email"                                                                   
                                class="form-control" 
                                placeholder="exemple@mail.com" >
                                <span class="form-text text-danger mt-0 mb-0"
                                          *ngIf="required('email')">Please enter a correct email</span>
                                
                    </div>
                    <div class="form-group my-3">
                        <input 
                                type="password" 
                                formControlName="password"
                                class="form-control" 
                                placeholder="Password" >
                                <span class="form-text text-danger mt-0 mb-0"
                                          *ngIf="required('password')">Please enter a correct password</span>
                                
                    </div>
                    <div class="text-center col-12">
                        <button type="submit" class="btn btn-warning btn-block">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  