
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-5 text-white">Carta del restaurante</h1>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="menu1; else loader">
      <div class="col-md-12">
        <div class="card mb-4" style="background-color: beige; border: none; border-bottom: 2px solid brown;">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <ng-container *ngFor="let category of menu1">
                <li class="list-group-item list-group-item-dark text-center" style="background-color: beige; color: brown; border: none;">
                  <h4 class="mb-0">{{ category.category }}</h4>
                </li>
                <li class="list-group-item" *ngFor="let item of category.items" style="background-color: beige; border: none;">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0" style="color: brown;">{{ item.name }}</h5>
                    <span class="badge badge-primary badge-pill text-dark">&euro; {{ item.price }}</span>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loader>
      <div class="spinner-grow text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-5 text-white">Carta del restaurant</h1>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="menu1; else loader">
      <div class="col-md-12">
        <div class="card mb-4" style="background-color: beige; border: none;">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <ng-container *ngFor="let category of menu1">
                <li class="list-group-item list-group-item-dark text-center" style="background-color: beige; color: brown; border: none; border-bottom: 2px solid brown;">
                  <h4 class="mb-0">{{ category.category }}</h4>
                </li>
                <li class="list-group-item" *ngFor="let item of category.items" style="background-color: beige; border: none;">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0" style="color: brown;">{{ item.name }}</h5>
                    <span class="badge badge-primary badge-pill text-dark">&euro; {{ item.price }}</span>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loader>
      <div class="spinner-grow text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>



