footer {
    background-color: #452113;
    color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
  }
  footer span{
    color: beige !important;
  }
  
  footer svg {
    color: beige !important;
  }
  
  footer a {
    color: beige !important;
  }
  
  @media (max-width: 767px) {
    footer {
      flex-direction: column;
      align-items: center;
    }
  }
  